* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    --type-first: 'Open Sans', Arial, Helvetica, sans-serif;
    --type-second: 'Spectral', Georgia;
    
}

h1, h2, h3, h4,p {
    font-family: var(--type-first);
    margin: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button, input {
    display: block;
    font-size: 1rem;
    font-family: var(--type-first);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}